{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": 2,
    "react/prop-types": 0,
    "import/imports-first": 0,
    "no-plusplus": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,

    // to get rid of deperecation notice
    "react/require-extension": 0
  }
}
